.loginContainer{
  margin: auto;
  width: 20%;
  border-radius: 20px;
  padding: 2%;
  /*background-color: rgba(0,0,0,.4);*/
}


/*USERNAME CSS*/
.usernameInput[type=text]{
  width: 100%;
  border-radius: 2px;
  border: 1px solid white;
  padding: 10px;
  font-size: 15px;
  display: flex;
  color: white;
  margin-top: 30px;
  margin-bottom: 3%;

  -webkit-transition: 0.5s;
  box-sizing: border-box;
  transition: 0.1s;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

.usernameInput:hover {
  border: 1px solid #FFF4CE;
}

.UsernameContent{
  display: flex;
}



/*PASSWORD CSS*/
.passwordInput[type=password]{
  width:100%;
  border-radius: 2px;
  border: 1px solid white;
  padding: 10px;
  font-size: 15px;
  display: flex;
  color: white;

  -webkit-transition: 0.5s;
  box-sizing: border-box;
  transition: 0.1s;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

.passwordInput:hover {
  border: 1px solid #FFF4CE;
}

.PasswordContent{
  display: flex;
  margin-top: 5%;
}

